@{
    ViewBag.Title = "Upload Files";
}

<h2>Upload files</h2>
<p>Choose a file or drag & drop it here</p>

<form asp-action="UploadFile" method="post" enctype="multipart/form-data">
    <div>
        <input type="file" name="File" accept=".jpeg,.png,.pdf,.mp4" required />
    </div>
    <button type="submit">Upload</button>
</form>

<h2>Files</h2>
<ul>
    @foreach (var file in ViewBag.Files)
    {
        <li>
            @file.FileName
            <a href="@Url.Action("DownloadFile", new { id = file.Id })">Download</a>
        </li>
    }
</ul>